<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="querypatterns.picklistcheck"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="querypatterns.util.PicklistcheckQuerySpecification$Provider"
            id="querypatterns.picklistcheck">
      </matcher>
   </extension>

</plugin>
